---
import Base from '../layouts/Base.astro';
---

<Base pageTitle="About">
  <h2>About the project</h2>

  <p>The project was born in 2015 with Dr. Fábio Cappabianco, Davi Morales, Lucas Lellis and Rodrigo Torres, with the aim of having a software program capable of making the subject of logic circuits easy to learn. Built to be easy to use, today the software is used to teach digital circuits at UNIFESP, as well as in other university project that teaches digital logic to high school students in São José dos Campos public schools.</p>

  <p>If you want to report bugs or share with us new ideas, please send us a email at <strong>INSERT EMAIL HERE</strong> or open a discussion on GitHub! Surely we can improve the software with your help.</p>
  
  <h3>wiRedPanda Team</h3>
  <ul>
    <li>João Pedro Oliveira</li>
    <li>Matheus Esteves</li>
    <li>Maycon Santana</li>
    <li>Rodrigo Torres</li>
    <li>Prof. Fábio Cappabianco, Ph.D.</li>
  </ul>
</Base>
