---
const { title, content } = Astro.props;
---

<div>
  <h3>{title}</h3>
  <span>{content}</span>
</div>


<style>
div {
  border: 1px solid darkgray;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  height: 350px;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3 {
  font-size: 1.7em;
  text-shadow: 1px 1px 1px gray;
}
</style>
