---
import { Image } from "astro:assets";

import unifespLogo from '../images/unifesp.webp';
import gibisLogo from '../images/gibis.webp';
---

<footer>
  <a href="https://www.unifesp.br/" target="_blank">
    <Image src={unifespLogo} alt="Unifesp logo" width={125} />
  </a>
  <span>wiRedPanda Team &copy; { new Date().getFullYear() }</span>
  <a href="http://gibis.unifesp.br/" target="_blank">
    <Image src={gibisLogo} alt="GIBIS logo" width={125} />
  </a>
</footer>
