---
import { Image } from "astro:assets";

import pandaLogo from '../images/wpanda.svg';
import githubLogo from '../images/github.webp';
---

<header>
  <div>
    <Image src={pandaLogo} alt="wiRedPanda Logo" width={100} loading="eager" />
    <span>wiRedPanda</span>
  </div>
  <nav>
    <ul>
      <li><a href="/wiredpanda-site/">Home</a></li>
      <li><a href="/wiredpanda-site/about">About</a></li>
      <li><a href="/wiredpanda-site/download">Download</a></li>
      <li><a href="#">Try out</a></li>
      <li>
        <a href="https://github.com/GIBIS-UNIFESP/wiRedPanda" target="_blank" class="github">
          <Image src={githubLogo} alt="Github repository link" width={35} loading="eager"/>
        </a>
      </li>
    </ul>
  </nav>
</header>
